<h3> Product List </h3><br><br>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Name </th>
            <th> Quantity </th>
            <th> Description </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td> {{product.name}} </td>
            <td> {{product.quantity}} </td>
            <td> {{product.description}} </td>
            <td>
                <button (click)="updateProduct(product.id)" class="btn btn-primary">Update</button>
                <button (click)="deleteProduct(product.id)" class="btn btn-danger" style="margin-left: 10px">Remove</button>
                <!-- <button (click)="productDetails(product.id)" class="btn btn-info" style="margin-left: 10px">Detail</button> -->
                <button
                (click)="productDetails(product.id)"
                class="btn"
                style="margin-left: 10px; background-color: purple; color: white;">
                Details
              </button>
            </td>
        </tr>
    </tbody>
</table>
