<h3> User Panel </h3><br><br><br>

<div class="user-card-list">
    <nz-card
      *ngFor="let u of users"
      [nzTitle]="u.name"
      style="width: 300px;"
      [nzExtra]="extraTemplate"
      [nzBodyStyle]="{'background-color': '#EDF2F5'}"
      [nzHoverable]="true"
    >
      <p>Email: {{ u.email }}</p>
      <p>Role:  {{ u.role }}</p>

      <ng-template #extraTemplate>
        <a href="#" role="button" style="color: darkred" (click)="doDeleteUser(u.name); $event.preventDefault()">
          Delete
        </a>
      </ng-template>
    </nz-card>
  </div>
